// Media
$mediaMid : 970px;

:export {
  mediaMid: $mediaMid;
}

// Sizes
$fontSize: 10px;
$borderRadius: 3px;

// Colors
$highlightBg: #a5ccf8;
$buttonBgDefault: #ebebeb;
$buttonColorDefault: #333;

