@use '../../scss/main.scss' as *;

.clearColumnQueries {
    padding: 5px;
    display: block;
    cursor: pointer;
    @include buttonPrimary();

    &.disable {
        background:rgba(255, 255, 255, 0.288);
        color:#EEE;
    }

    @media (max-width: $mediaMid) {
        & {
            display:none;
        }
    
    }
}