@use '../../scss/main.scss' as *;

.clearColumnQueries {
    padding: 5px;
    display: block;
    cursor: pointer;
    @include buttonPrimary();

    &.disable {
        background: rgb(158 158 158);
        color:#FFF;
    }

    @media (max-width: $mediaMid) {
        & {
            display:none;
        }
    
    }
}