@use '../../scss/variables.scss' as *;

.toolbar {
    background:#383838;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    border-radius: 8px;
    color:#FFF;

    @media (max-width: $mediaMid) {
        & {
            margin:0 !important;
        }
    }
}
.toolbarSection {
    margin:0 10px;

    @media (max-width: $mediaMid) {
        & {
            margin:0;
        }
    }
}